@page
@Model  LandModel
@{
    ViewBag.Title = "Statistik";
}
<style>
    .chart {
        width: 400px;
        height: 400px;
        float: left;
        margin-right: 150px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<h1>@ViewBag.Title</h1>
<div class="chart">
    <center><h2>Nutzer pro Land</h2></center>
    <canvas id="landChart" width="400" height="400"></canvas>
</div>

<div class="chart">
    <center><h2>Nutzer pro Applikation</h2></center>
    <canvas id="appChart" width="400" height="400"></canvas>
</div>

<script>
    var ctx = document.getElementById('landChart').getContext('2d');
    var landArray;

    var userArray;
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: ["Deutschland", "Frankreich", "Oesterreich"],
            datasets: [{
                label: "Nutzer pro Land",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: 'rgb(255, 99, 132)',
                data: [1, 10, 5],
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>
<script>
    var ctx = document.getElementById('appChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: ["GeoWeb", "Unser Kundenmodul", "Noch was"],
            datasets: [{
                label: "Nutzer pro Applikation",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: 'rgb(255, 99, 132)',
                data: [1, 10, 5],
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>

<div>
    <br /><br /><br /><br /><br /><br /><button>Hallo</button>
</div>